    <ion-view title="About">
      <ion-content>
      <img src="images/location.jpg" style="width:100%;"/>
		<div class="row">
        <div class="col col-100">
        <h3>Who We Are</h3>	
        <p>
        <strong>MedPro Health Providers</strong> also provides nursing, therapy, aide and specialty care to the Medicare-covered population throughout Illinois. Medicare home care services are extended to those under a physician’s care when the physician orders skilled, intermittent services and when the Medicare recipient is homebound due to illness or injury and cannot leave their residence without considerable taxing effort. </p>
        <p>Our services also include assistance in the arrangement of supplies and equipment required to meet your individual needs. Our experienced registered nurses will design a care plan that takes into consideration your physical and financial situation. And many of our services are covered by employer group health plans, various government-funded programs, private insurance plans, Medicare or workers compensation.</p>

        <h3>Our Team</h3>	
        <p>
        <strong>MedPro Health Providers</strong> also provides nursing, therapy, aide and specialty care to the Medicare-covered population throughout Illinois. Medicare home care services are extended to those under a physician’s care when the physician orders skilled, intermittent services and when the Medicare recipient is homebound due to illness or injury and cannot leave their residence without considerable taxing effort. </p>
        <p>Our services also include assistance in the arrangement of supplies and equipment required to meet your individual needs. Our experienced registered nurses will design a care plan that takes into consideration your physical and financial situation. And many of our services are covered by employer group health plans, various government-funded programs, private insurance plans, Medicare or workers compensation.</p>

        </div>
      </ion-content>
    </ion-view>