    <ion-view title="Announcements">
      <ion-content>
  
<div class="card">
  <div class="item item-text-wrap">
<h2>Phasellus suscipit, metus interdum hendrerit ullamcorper, leo est ultrices eros, in pulvinar ligula eros vitae ligula. Donec dictum odio eu auctor blandit. Nulla in rhoncus eros.</h2>
    <p class="light"><i class="icon ion-ios-calendar-outline"></i> 02/12/2016</p>
  </div>
</div>
          
<div class="card">
  <div class="item item-text-wrap">
 <h2>Maecenas volutpat erat ipsum, et malesuada massa fringilla quis.</h2>
    <p class="light"><i class="icon ion-ios-calendar-outline"></i> 02/10/2016</p>
  </div>
</div>
          
<div class="card">
  <div class="item item-text-wrap">
<h2>Vivamus nibh quam, vehicula at libero non, ullamcorper semper velit.</h2>
    <p class="light"><i class="icon ion-ios-calendar-outline"></i> 02/5/2016</p>
  </div>
</div>          

<div class="card">
  <div class="item item-text-wrap">
<h2>Pellentesque molestie, justo ut tristique dignissim, nisl sem elementum est, non porta nulla nibh id velit. Vestibulum efficitur sodales vehicula.</h2>
    <p class="light"><i class="icon ion-ios-calendar-outline"></i> 01/19/2016</p>
  </div>
</div>  


<div class="card">
  <div class="item item-text-wrap">
<h2>Curabitur eu tortor viverra, egestas sapien ut, posuere nisi. Aenean sem metus, mollis in pretium ac, finibus eu ex. Vestibulum sit amet commodo nisl. Sed cursus diam ac odio sollicitudin fringilla. Quisque ex neque, eleifend nec leo et, venenatis venenatis ante.</h2>
    <p class="light"><i class="icon ion-ios-calendar-outline"></i> 01/08/2016</p>
  </div>
</div>

 <!--       <p>
          <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
        </p>-->
      </ion-content>
    </ion-view>