    <ion-view title="Dashboard">
      <ion-content>



<div class="list card">

  <div class="item">
    <!--<img src="mcfly.jpg">-->
    <h2 class="positive">Filipino-owned home health care is among ‘100 TOP Work Places’</h2>
    <p class="light">02/12/2016</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="images/news/news2.jpg">
    <p>
      CHICAGO–You are forewarned this story of a Filipino American-owned home health care agency is NOT about fraud or someone sentenced to prison. Surprisingly, it actually brings good news. 
    </p>
    <p>
      <a href="#/tab/news-inside" class="subdued">View full story</a>
<!--      <a href="#" class="subdued">5 Comments</a>-->

    </p>
  </div>

</div>




<div class="list card">

  <div class="item">
    <!--<img src="mcfly.jpg">-->
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <p>12/11/2015</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="images/news/news1.jpg">
    <p>
      Phasellus a augue at mauris viverra auctor in et magna. Nunc ut varius eros. Fusce in bibendum leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
    <p>
      <a href="#/tab/news-inside" class="subdued">View full story</a>
<!--      <a href="#" class="subdued">5 Comments</a>-->

    </p>
  </div>

</div>





<div class="list card">

  <div class="item">
    <!--<img src="mcfly.jpg">-->
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    <p>10/05/2015</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="images/news/news3.jpg">
    <p>
      Phasellus a augue at mauris viverra auctor in et magna. Nunc ut varius eros. Fusce in bibendum leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
    <p>
      <a href="#/tab/news-inside" class="subdued">View full story</a>
<!--      <a href="#" class="subdued">5 Comments</a>-->

    </p>
  </div>

</div>

          
          
             
          
          
          
<!-- ICONS

ion-ios-arrow-right
ion-ios-plus-outline
ion-ios-information-outline
ion-ios-search-strong
ion-ios-box-outline
ion-ios-pie-outline
ion-ios-toggle-outline
ion-ios-settings

ion-ios-undo-outline
ion-ios-redo-outline


ion-ios-alarm-outline
ion-ios-time-outline
ion-ios-camera-outline

ion-ios-calculator-outline
ion-ios-location-outline
ion-ios-game-controller-b-outline
ion-ios-musical-notes
ion-ios-film-outline


ion-ios-people-outline
ion-ios-personadd-outline
ion-ios-person-outline
ion-ios-printer-outline
ion-ios-drag
ion-ios-keypad-outline

ion-ios-bookmarks-outline
ion-ios-book-outline
ion-ios-more-outline
ion-ios-heart-outline
ion-ios-close-outline
ion-ios-minus-outline

-->
          
          
          
          
          
<!--          

<h2>ITEM AVATAR</h2>
<div class="list">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

    ...

</div>




<h2>LIST ICON</h2>
<div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Check mail
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Call Ma
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Record album
    <span class="item-note">
      Grammy
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Friends
    <span class="badge badge-assertive">0</span>
  </a>

</div>








<h2>ITEM THUMBNAIL</h2>
<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    ...

</div>

          

          
          


<h2>BUTTONS</h2>
<button class="button">
  Default
</button>

<button class="button button-light">
  button-light
</button>

<button class="button button-stable">
  button-stable
</button>

<button class="button button-positive">
  button-positive
</button>

<button class="button button-calm">
  button-calm
</button>

<button class="button button-balanced">
  button-balanced
</button>

<button class="button button-energized">
  button-energized
</button>

<button class="button button-assertive">
  button-assertive
</button>

<button class="button button-royal">
  button-royal
</button>

<button class="button button-dark">
  button-dark
</button>






<h2>HEADER INPUTS</h2>
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>







<h2>TOGGLE</h2>
<label class="toggle">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>




<h2>GRID</h2>
<div class="row">
  <div class="col col-50">.col.col-50</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
</div>

<div class="row">
  <div class="col col-75">.col.col-75</div>
  <div class="col">.col</div>
</div>

<div class="row">
  <div class="col">.col</div>
  <div class="col col-75">.col.col-75</div>
</div>

<div class="row">
  <div class="col">.col</div>
  <div class="col">.col</div>
</div>





<h2>CARDS</h2>
<div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>







<h2>CARD HEADERS FOOTERS</h2>
<div class="card">
  <div class="item item-divider">
    I'm a Header in a Card!
  </div>
  <div class="item item-text-wrap">
    This is a basic Card with some text.
  </div>
  <div class="item item-divider">
    I'm a Footer in a Card!
  </div>
</div>




<h2>CARD IMAGES</h2>
<div class="list card">

  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="cover.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div>




<h2>ICON BUTTONS</h2>
<button class="button">
  <i class="icon ion-loading-c"></i> Loading...
</button>

<button class="button icon-left ion-home">Home</button>

<button class="button icon-left ion-star button-positive">Favorites</button>

<a class="button icon-right ion-chevron-right button-calm">Learn More</a>

<a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

<button class="button icon ion-gear-a"></button>

<a class="button button-icon icon ion-settings"></a>

<a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>




<h2>OUTLINED BUTTONS</h2>
<button class="button button-outline button-positive">
  Outlined Button
</button>


<button class="button button-full button-positive">
  Full Width Block Button
</button>


<button class="button button-small button-assertive">
  Small Button
</button>
<button class="button button-large button-positive">
  Large Button
</button>




<h2>BUTTONS</h2>
<button class="button">
  Default
</button>

<button class="button button-light">
  button-light
</button>

<button class="button button-stable">
  button-stable
</button>

<button class="button button-positive">
  button-positive
</button>

<button class="button button-calm">
  button-calm
</button>

<button class="button button-balanced">
  button-balanced
</button>

<button class="button button-energized">
  button-energized
</button>

<button class="button button-assertive">
  button-assertive
</button>

<button class="button button-royal">
  button-royal
</button>

<button class="button button-dark">
  button-dark
</button>




          <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
-->
      </ion-content>
    </ion-view>
