    <ion-view title="Announcements">
      <ion-content>
<div class="list">

    <a class="item item-avatar" href="#">
      <img src="images/alumni/hernan.jpg">
      <h2>Hernan</h2>
      <p>Hi Dennis, What's up?</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="images/alumni/gadin.jpg">
      <h2>Jojo</h2>
      <p>Hi Dennis, What's up?</p>
    </a>
    
    <a class="item item-avatar" href="#">
      <img src="images/alumni/jojo.jpg">
      <h2>Jose</h2>
      <p>Hi Dennis, What's up?</p>
    </a>    

    <a class="item item-avatar" href="#">
      <img src="images/alumni/janice.jpg">
      <h2>Janice</h2>
      <p>Hi Dennis, What's up?</p>
    </a>    
    
    <a class="item item-avatar" href="#">
      <img src="images/alumni/james.jpg">
      <h2>Hernanando</h2>
      <p>Hi Dennis, What's up?</p>
    </a>     
    

    <a class="item item-avatar" href="#">
      <img src="images/alumni/hervi.jpg">
      <h2>Mark</h2>
      <p>Hi Dennis, What's up?</p>
    </a>     

    
    <a class="item item-avatar" href="#">
      <img src="images/alumni/raymond.jpg">
      <h2>Lester</h2>
      <p>Hi Dennis, What's up?</p>
    </a>     
 
    
    <a class="item item-avatar" href="#">
      <img src="images/alumni/marlon.jpg">
      <h2>Hernan</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>     
    
    
</div>
 <!--       <p>
          <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
        </p> -->
      </ion-content>
    </ion-view>