    <ion-view title="News">
      <ion-content>

          
          <img class="full-image" src="images/news/news2.jpg">          
          <div class="row">
              
          <div class="col col-100">
            <h2 style="margin-bottom:0px;">Filipino-owned home health care is among ‘100 TOP Work Places’</h2>
            <p style="font-size:10px;">02/12/2016</p>
            <p>CHICAGO–You are forewarned this story of a Filipino American-owned home health care agency is NOT about fraud or someone sentenced to prison. Surprisingly, it actually brings good news.
</p>
            <p>Recently, the venerable Chicago Tribune came out with its annual list of “100 TOP Work Places.” Included among brand names like Charles Schwab, Ernst & Young, Microsoft and Swissotel is a company named “MedPro Health Providers.”</p>
            <p>The selections were from three categories–those with no more than 250 workers, then those with no more than 500 and those with 500 or more.</p>
<h3>Ranked No. 7</h3>            
            <p>The five-year-old MedPro ranked 7th among those in the first category. Considering the unfavorable and embarrassing news associated with home health care agencies owned by Filipino Americans, it is surprising to learn that MedPro is owned by not one but FOUR kababayans.</p>
            <p>Corporate lawyers in the area thrive just preparing separation agreements on quarreling partners of Filipino-owned companies—especially home care agencies. Many ventures owned by more than one Filipino just don’t last. That certainly makes MedPro– a business phenomenon worth studying.</p>
            <p>So what makes one a TOP Work Place? In a detailed survey sent out by the Tribune, questions were primarily aimed at knowing a company’s work policy and actual practice in creating a healthy environment for their employees to thrive happily in their work places.</p>
            <p>MedPro President/CEO Riz Villaseñor told PINOY Newsmagazine, at the firm’s office in Tinley Park, a suburb in the southwest of Chicago, that his company has a “Growing Up Clinic,” which helps its employees and their children to improve their physical, emotional and intellectual potentials.</p>
            <p>Psychologists, therapist and trainers are involved in their growth. “A day care center in MedPro’s HQ is also in the works,” added Villaseñor.</p>
              <p>Source: <a href="http://globalnation.inquirer.net/136452/136452">http://globalnation.inquirer.net/136452/136452</a></p>
          </div>
          </div>
          
          <div class="row">
          <div class="col col-100">      
              <p>
<!--              <a class="button icon ion-home" menu-close nav-clear href="#/tab/home"> Home</a>-->
              <a class="button button-positive button-outline icon ion-chevron-left" href="#/tab/home"> &nbsp;More News</a>
            </p>         
          </div>
            
          </div>

      </ion-content>
    </ion-view>